/* global */

body {
    background: linear-gradient(0deg, #205937 0%, #EDE7E3);
    background-attachment: fixed;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

main {
    max-width: 641px;
    width: 90%;
    margin-top: 150px;
}

a {
    color: green;
    transition: all 0.5s ease;
}

a:hover{
    color: white;
}

h1, h2, h3 {
    font-family:'Prata', serif;
}

h1 {
    color: #000;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

h2 {
    color: #000;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

p {
    font-family:'Manrope' , sans-serif;
    font-size: 18px;
}

footer {
    color:#ffffff
}

small {
    font-family:'Manrope' , sans-serif;
    font-size: 12px;
}

/* navigation styles */

header {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color:#0D2818;
}

#logo {
    width: 120px;
    min-width: 120px;
    max-width: 120px;
}

nav a {
    color: #ffffff;
    font-family:'Prata', serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding: 50px;
    background: #0D2818;
}

nav a:hover, nav a:focus {
    background-color: #EDE7E3;
    color: black;
}

.btn-toggle-menu svg {
    fill: white;
}

.box {
    padding: 20px;
    background: rgba(255, 255, 255, 0.416);
    border-radius: 16px;
    margin: 20px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* home */

.home main {
    display:flex;
    flex-direction: column;
    align-items: center;
}

.row {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.home img {
    max-width: 600px;
    width: 80%;
}

.home iframe {
    max-width: 100%;
    height: 350px;
    padding: 0;
}

.home .content {
    width: 80%;
    max-width: 1280px;
    margin: 0 auto;
}

.home h2{
    color: #000;
    font-family:'Prata', serif;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

/* Destination Page Styles*/

.destination img {
    max-width: 50%;
}

/* Food Page Styles*/

.food img {
    max-width: 50%;
}

/* History Page Styles*/

.history img {
    max-width: 50%;
}


/* Media Queries */

@media (min-width: 640px) {
    nav a {
        font-size: 18px;
    }

    nav a:hover, nav a:focus {
        font-weight: bold;
    }
    .row {
        flex-direction: row;
        }

    .home iframe {
        max-width: 60%;
        height: 350px;
        padding-top: 50px;
        padding-left: 40px;
    }

    .home img {
        width: 50%;
    }
}