<!DOCTYPE html>
<html lang="en">
{% include 'head', title:'Destinations | Discover Milan' %}
<body class="destination">
    {% include 'header' %}
    <main>
        <h1>
            Destinations
        </h1>
        <h2>Milan Cathedral (Duomo di Milano)</h2>
            <img alt="Milan Cathedral facade" src="/assets/IMG_7029.jpg"
            <p>
               The Milan Cathedram is the cathedral church of Milan, Lombardy, Italy. The cathedral took nearly six centuries to complete: construction began in 1386, and the final details were completed in 1965. It is the largest church in the Italian Republic—the larger St. Peter's Basilica is in the State of Vatican City, a sovereign state—and the third largest in the world. In 1386, Archbishop Antonio da Saluzzo began construction of the cathedral. Start of the construction coincided with the ascension to power in Milan of the archbishop's cousin Gian Galeazzo Visconti, and was meant as a reward to the noble and working classes, who had suffered under his tyrannical Visconti predecessor Barnabò.
            </p>
        <h2>Teatro alla Scala</h2>
            <img alt="Teatro alla Scala facade" src="/assets/IMG_7086.jpg"
            <p> Teatro alla Scala is an opera house in Milan. Most of Italy's greatest operatic artists, and many of the finest singers from around the world, have appeared at La Scala. The theatre is regarded as one of the leading opera and ballet theatres globally. It is home to the La Scala Theatre Chorus, La Scala Theatre Ballet, La Scala Theatre Orchestra, and the Filarmonica della Scala orchestra. The theatre also has an associate school, known as the La Scala Theatre Academy (Accademia Teatro alla Scala), which offers professional training in music, dance, stagecraft, and stage management. The original structure was renovated in 1907 when it was given its current layout with 1,987 seats. In 1943, during World War II, La Scala was severely damaged by bombing. It was rebuilt and reopened on 11 May 1946. 
            </p>
        <h2>Sforza's Castle (Castello Sforzesco)</h2>
            <img alt="Entrance to Sforza Caslte" src="/assets/IMG_7114.jpg"
            <p>The Castello Sforzesco is a medieval fortification located in Milan, Northern Italy. It was built in the 15th century by Francesco Sforza, Duke of Milan. Later renovated and enlarged, in the 16th and 17th centuries it was one of the largest citadels in Europe. Extensively rebuilt by Luca Beltrami in 1891–1905, it now houses several of the city's museums and art collections.</p>
        <h2>Milano Centrale (Stazione di Milano Centrale)</h2>
            <img alt="Entrance of Milano Centrale" src="/assets/IMG_7428.jpg"
            <p>Milano Centrale is the main railway station of the city of Milan, Italy, and is the largest railway station in Europe by volume. The station is located at the northern end of central Milan.</p>
        <h2>Galleria Vittorio Emanuele II</h2>
            <img alt="Entrance to the Galleria" src="/assets/IMG_7032.jpg"
            <p>The Galleria Vittorio Emanuele II is Italy's oldest active shopping gallery and a major landmark of Milan. Housed within a four-story double arcade in the center of town, the Galleria is named after Victor Emmanuel II, the first king of the Kingdom of Italy.</p>
        <h2>Brera Art Gallery (Pinacoteca di Brera)</h2>
            <img alt="Sculpture in the Brera Art Gallery" src="/assets/IMG_7107.jpg"
            <p>The Pinacoteca di Brera is the main public gallery for paintings in Milan, Italy. It contains one of the foremost collections of Italian paintings from the 13th to the 20th century, an outgrowth of the cultural program of the Brera Academy, which shares the site in the Palazzo Brera.</p>
    </main>
    {% include 'footer' %}
</body>
</html>
