<!DOCTYPE html>
<html lang="en">
{% include 'head', title:'Food | Discover Milan' %}
<body class="food">
    {% include 'header' %}
    <main>
        <h1>
            Food
        </h1>
        <h2>Popular/Cultural Dishes</h2>
        <div class="box">
            <h3>Risotto alla Milanese</h3>
                <img alt="Image of Risotto alla Milanese" src="/assets/risotto-alla-milanese-recipe-snippet-3.jpg" />
                    <small>Image Source: Yes Milano</small>
                <p>
                    The secret of this traditional Milanese dish resides in the simplicity of its ingredients, coming together to create a flavour that is velvety and refined. Onion is browned with butter and oil, rice toasted and wet with white wine and then cooked al dente in beef stock. Towards the end of the process, it is made creamy with butter and parmesan cheese and then saffron is added, the very ingredient that gives this delicacy its golden colour. As a final touch the risotto is served soft and a little runny, and some garnish it with a gold leaf! Find the recipe
                    <a href="https://www.yesmilano.it/en/articles/risotto-alla-milanese" target="blank">here.</a>
                </p>
        </div>
        <div class="box">
        <h3>Coletta alla Milanese</h3>
            <img alt="Image of Coletta alla Milanese" src="/assets/Veal-Milanese.jpg" />
                <small>Image Source: Yes Milano</small>
            <p>
                Also known as cotoletta (cutlets), from the French côtelette, this is one of Milano’s oldest traditional dishes. Its preparation requires for the veal chop to be tenderized (although not too much – it should not be thinner than the bone), then covered in breadcrumbs after being dipped in beaten eggs, which helps the breadcrumbs to stick properly. Finally, it is cooked in a pan using melted, clarified butter. Find the recipe
                <a href="https://www.yesmilano.it/en/articles/cotoletta-alla-milanese" target="blank">here.</a>
            </p>
        </div>
        
        <div class="box">
        <h3>Ossobuco</h3>
            <img alt="Image of Ossobuco" src="/assets/Ossobuco-1200px-inside-the-rustic-kitchen.jpeg" />
                 <small>Image Source: Yes Milano</small>
                <p>
                    Ossobuco (marrowbone) is a typical delicacy of Milanese cuisine and is often served on a bed of yellow Risotto alla Milanese. The name comes from ossbus, which means a ‘bone with a hole’ in the local dialect and refers to the cut of veal that is used: a slice of the shin in which the round section of bone is surrounded by tender meat. The bone is filled with tasty marrow that can be scooped out with a spoon or the customary tool, a small scooper. Find the recipe
                    <a href="https://www.yesmilano.it/en/articles/ossobuco" target="blank">here.</a>
                </p>
        </div>
        <h2>Desserts (Dolci)</h2>
            <div class="box">
                <h3>Panettone</h3>
                    <img alt="Image of Panettone" src="/assets/panettone-50f77b4.jpeg" />
                        <small>Image Source: Yes Milano</small>
                        <p>
                            Thirty centimetres high and typically dome-shaped, Panettone, the quintessential Milanese cake, has ruled the Christmas table from the 15th century onwards because of its softness and delicacy. In the past, it was a Milanese well-kept secret, while it can now be found all over the world. Garnished with raisins or candied fruits, panettone is today one of the most appreciated Christmas cakes internationally. Find the recipe
                            <a href="https://www.yesmilano.it/en/articles/panettone" target="blank">here.</a>
                        </p>
                </div>
    </main>
    {% include 'footer' %}
</body>
</html>