<!DOCTYPE html>
<html lang="en">
{% include 'head', title:'History | Discover Milan' %}
<body class="history">
    {% include 'header' %}
    <main>
        <h1>
            History
        </h1>
            <h2>
                Prehistory and Roman Times
            </h2>
                <img alt="Roman ruins in Milan: the Columns of San Lorenzo" src="/assets/073-318.jpg"
                <p>
                    The Celtic Insubres, the inhabitants of the region of northern Italy called Insubria, appear to have founded a settlement around 600 BC. During the Roman Republic, the Romans, led by consul Gnaeus Cornelius Scipio Calvus, fought the Insubres and captured the settlement in 222 BC. The chief of the Insubres then submitted to Rome, giving the Romans control of the settlement. 
                </p>
            <h2>
                Middle Ages
            </h2>
                <img alt="The Medieval Porta Ticinese" src="/assets/Milano,_antica_porta_ticinese,_01.jpg"
                <p>
                    The 11th century saw a reaction against the control of the Holy Roman Emperors. City-states emerged in northern Italy, an expression of the new political power of the cities and their will to fight against all feudal powers. Milan was no exception. It did not take long, however, for the Italian city-states to begin fighting each other to try to limit neighbouring powers. The Milanese destroyed Lodi and continuously warred with Pavia, Cremona and Como.
                </p>
            <h2>
                Early modern
            </h2>
                <img alt="Milan during the plague of 1630: plague carts carry the dead for burial." src="/assets/Melchiorre_Gherardini,_Piazza_di_S._Babila_durante_la_peste_del_1630.jpg"
                <p>
                    Milan's last independent ruler, Lodovico il Moro, requested the aid of Charles VIII of France against the other Italian states, eventually unleashing the Italian Wars.
                </p>
            <h2>
                Late modern and contemporary
            </h2>
                <img alt="Galleria Vittorio Emanuele II destroyed by Allied bombings, 1943" src="/assets/Milano,_Galleria_Vittorio_Emanuele_II_(bombardata)_02.jpg"
                <p>
                    On 18 March 1848, Milan efficaciously rebelled against Austrian rule, during the so-called "Five Days" (Italian: Le Cinque Giornate), that forced Field Marshal Radetzky to temporarily withdraw from the city.
                </p>
    </main>
    {% include 'footer' %}
</body>
</html>